cc4dmeapi/src/main/mule/cc4dmeapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	
	<file:config name="File_Config" doc:name="File Config" doc:id="8ccaf83a-3211-4891-bd00-ccbe3935fb16" />
	
	<file:matcher name="csvFileMatcher" doc:name="CSV File Matcher" doc:id="csv-matcher" 
		filenamePattern="IFIDC0006_*.csv" />
	
	<flow name="cc4dmeapiFlow" doc:id="cebf8f3b-2c03-49a3-a3ea-49f9e9a41976" >
		<file:listener doc:name="CSV File Listener" doc:id="2a276403-aef5-4f05-aaa0-1e0fc0402055" 
			config-ref="File_Config" 
			directory="/Users/ykurozumi/test_data/input" 
			moveToDirectory="/Users/ykurozumi/test_data/processed"
			matcher="csvFileMatcher" renameTo='#[now() ++ ".csv"]'>
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</file:listener>

		<logger level="INFO" doc:name="Log File Processing Start" doc:id="log-start" 
			message="Processing CSV file: #[attributes.fileName]"/>
		<ee:transform doc:name="Transform Message" doc:id="78d34b4d-f08a-4f52-a26b-da69b4dbd245" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	DlvInstructionComment: payload01.DlvInstructionComment,
	Lot1: payload01.Lot1,
	Lot2: payload01.Lot2,
	WrappingFee: payload01.WrappingFee,
	EAN128Cd: payload01.EAN128Cd,
	UpdateKbn: payload01.UpdateKbn as Number,
	ArrivalLineNo: payload01.ArrivalLineNo,
	LapseNextMonth2: payload01.LapseNextMonth2,
	NextDlvCommoditySalesMethodName10: payload01.NextDlvCommoditySalesMethodName10,
	UseEnablePoint: payload01.UseEnablePoint,
	InspectMemo: payload01.InspectMemo,
	DlvCorpAppointedKbn: payload01.DlvCorpAppointedKbn,
	DestAdr1: payload01.DestAdr1,
	TaxTaxKbn: payload01.TaxTaxKbn,
	DestAdr2: payload01.DestAdr2,
	DestAdr3: payload01.DestAdr3,
	DestAdr4: payload01.DestAdr4,
	DlvBaseKbn: payload01.DlvBaseKbn,
	NextDlvSalesCommodityName10: payload01.NextDlvSalesCommodityName10,
	DataCreateDate: payload01.DataCreateDate,
	ExtKbnName: payload01.ExtKbnName,
	LapseNextMonth: payload01.LapseNextMonth,
	DestAdr5: payload01.DestAdr5,
	DestAdr6: payload01.DestAdr6,
	CustKanaName: payload01.CustKanaName,
	NextDlvItemCd2: payload01.NextDlvItemCd2,
	DestCorpName: payload01.DestCorpName,
	NextDlvItemCd1: payload01.NextDlvItemCd1,
	NextDlvItemCd4: payload01.NextDlvItemCd4,
	DeliveryScheDate: payload01.DeliveryScheDate,
	ChargeTax: payload01.ChargeTax as Number,
	NextDlvItemCd3: payload01.NextDlvItemCd3,
	NextDlvItemCd6: payload01.NextDlvItemCd6,
	NextDlvItemCd5: payload01.NextDlvItemCd5,
	NextDlvItemCd8: payload01.NextDlvItemCd8,
	OrderReceiptDate: payload01.OrderReceiptDate,
	OccurSchedulePoint: payload01.OccurSchedulePoint,
	NextDlvItemCd7: payload01.NextDlvItemCd7,
	NextDlvItemCd9: payload01.NextDlvItemCd9,
	ReducedDiffYen: payload01.ReducedDiffYen,
	TotalPoint: payload01.TotalPoint,
	ShipmentLineNo: payload01.ShipmentLineNo,
	PurchaseListKbn: payload01.PurchaseListKbn,
	StandardOrderYen: payload01.StandardOrderYen,
	DestKanaName: payload01.DestKanaName,
	NextDlvShipmentQty10: payload01.NextDlvShipmentQty10,
	ReducedUsePointTax: payload01.ReducedUsePointTax,
	ShippingTax: payload01.ShippingTax as Number,
	UsePoint: payload01.UsePoint,
	NextDlvSalesCommodityName9: payload01.NextDlvSalesCommodityName9,
	DlvAppointedDate: payload01.DlvAppointedDate,
	NextDlvSalesCommodityName8: payload01.NextDlvSalesCommodityName8,
	NextDlvSalesCommodityName7: payload01.NextDlvSalesCommodityName7,
	NextDlvSalesCommodityName6: payload01.NextDlvSalesCommodityName6,
	NextDlvSalesCommodityName5: payload01.NextDlvSalesCommodityName5,
	NextDlvSalesCommodityName4: payload01.NextDlvSalesCommodityName4,
	ClientZipNo: payload01.ClientZipNo,
	NextDlvSalesCommodityName3: payload01.NextDlvSalesCommodityName3,
	SetShipmentQty: payload01.SetShipmentQty,
	NextDlvSalesCommodityName2: payload01.NextDlvSalesCommodityName2,
	NextDlvSalesCommodityName1: payload01.NextDlvSalesCommodityName1,
	UseSchedulePoint: payload01.UseSchedulePoint,
	WrappingServiceName: payload01.WrappingServiceName,
	SetSalesCommodityName: payload01.SetSalesCommodityName,
	ArrivedShopNo2: payload01.ArrivedShopNo2,
	CustServiceRankName: payload01.CustServiceRankName,
	ArrivedShopNo1: payload01.ArrivedShopNo1,
	NextDlvItemCd10: payload01.NextDlvItemCd10,
	ShipmentRequestDate: payload01.ShipmentRequestDate,
	DLVOutForGIFTKbn: payload01.DLVOutForGIFTKbn,
	NextDlvCharge: payload01.NextDlvCharge,
	DestJISCd: payload01.DestJISCd,
	DlvAppointedTimePerDlvCorpKbn: payload01.DlvAppointedTimePerDlvCorpKbn,
	ShipmentNo: payload01.ShipmentNo,
	CustNo: payload01.CustNo,
	PointOccurComment: payload01.PointOccurComment,
	ReducedUsePoint: payload01.ReducedUsePoint,
	AdvancedYen: payload01.AdvancedYen as Number,
	LapseNextMonthPoint2: payload01.LapseNextMonthPoint2,
	PromoCd: payload01.PromoCd,
	ClientTelNo: payload01.ClientTelNo,
	ArrivalNo: payload01.ArrivalNo,
	SetCommodityKbn: payload01.SetCommodityKbn,
	NextDlvShipmentQty4: payload01.NextDlvShipmentQty4,
	NextDlvShipmentQty3: payload01.NextDlvShipmentQty3,
	ReducedOrderTax: payload01.ReducedOrderTax,
	DlvCorpDetailKbn: payload01.DlvCorpDetailKbn,
	NextDlvShipmentQty2: payload01.NextDlvShipmentQty2,
	NextDlvShipmentQty1: payload01.NextDlvShipmentQty1,
	NextDlvShipmentQty8: payload01.NextDlvShipmentQty8,
	NextDlvShipmentQty7: payload01.NextDlvShipmentQty7,
	NextDlvShipmentQty6: payload01.NextDlvShipmentQty6,
	ReportScheduleDate: payload01.ReportScheduleDate,
	TaxRateKbn: payload01.TaxRateKbn,
	ZipNo: payload01.ZipNo,
	NextDlvShipmentQty5: payload01.NextDlvShipmentQty5,
	OCRCd: payload01.OCRCd,
	NextDlvOrderCommodityYen2: payload01.NextDlvOrderCommodityYen2,
	NextDlvOrderCommodityYen3: payload01.NextDlvOrderCommodityYen3,
	SentenceKbn4: payload01.SentenceKbn4,
	NextDlvOrderCommodityYen1: payload01.NextDlvOrderCommodityYen1,
	NextDlvShipmentQty9: payload01.NextDlvShipmentQty9,
	NextDlvOrderCommodityYen6: payload01.NextDlvOrderCommodityYen6,
	ClientAdr6: payload01.ClientAdr6,
	NextDlvOrderCommodityYen7: payload01.NextDlvOrderCommodityYen7,
	ClientAdr5: payload01.ClientAdr5,
	NextDlvOrderCommodityYen4: payload01.NextDlvOrderCommodityYen4,
	ClientAdr4: payload01.ClientAdr4,
	NextDlvOrderCommodityYen5: payload01.NextDlvOrderCommodityYen5,
	StandardOrderTax: payload01.StandardOrderTax,
	ClientAdr3: payload01.ClientAdr3,
	OrderPriceCutYen: payload01.OrderPriceCutYen,
	ClientAdr2: payload01.ClientAdr2,
	ClientAdr1: payload01.ClientAdr1,
	NextDlvOrderCommodityYen8: payload01.NextDlvOrderCommodityYen8,
	NextDlvOrderCommodityYen9: payload01.NextDlvOrderCommodityYen9,
	SaleYenYear: payload01.SaleYenYear,
	CustKanjiName: payload01.CustKanjiName,
	ShopCd: payload01.ShopCd,
	Adr6: payload01.Adr6,
	Adr5: payload01.Adr5,
	Adr4: payload01.Adr4,
	PayDeadlineDate: payload01.PayDeadlineDate,
	OrderCommodityYen: payload01.OrderCommodityYen as Number,
	Adr3: payload01.Adr3,
	Adr2: payload01.Adr2,
	Adr1: payload01.Adr1,
	StandardDiffTax: payload01.StandardDiffTax,
	WrappingFeeTax: payload01.WrappingFeeTax,
	NextDlvOrderCommodityYen10: payload01.NextDlvOrderCommodityYen10,
	DestKanjiName: payload01.DestKanjiName,
	ShopOrderDate: payload01.ShopOrderDate,
	PromoName: payload01.PromoName,
	DestZipNo: payload01.DestZipNo,
	DestTelNo: payload01.DestTelNo,
	ShipmentQty: payload01.ShipmentQty as Number,
	RepeatCustFlg: payload01.RepeatCustFlg,
	DiscountYen: payload01.DiscountYen as Number,
	SetOrderCommodityTax: payload01.SetOrderCommodityTax,
	YobiKbn: payload01.YobiKbn,
	SetDiscountYen: payload01.SetDiscountYen,
	NextDlvCommoditySalesMethodName9: payload01.NextDlvCommoditySalesMethodName9,
	NextDlvCommoditySalesMethodName8: payload01.NextDlvCommoditySalesMethodName8,
	NextDlvCommoditySalesMethodName7: payload01.NextDlvCommoditySalesMethodName7,
	RankEndDate: payload01.RankEndDate,
	NextDlvCommoditySalesMethodName6: payload01.NextDlvCommoditySalesMethodName6,
	CreditCardCorpCd: payload01.CreditCardCorpCd,
	CreateBy: payload01.CreateBy,
	ReducedOrderYen: payload01.ReducedOrderYen,
	SetItemCd: payload01.SetItemCd,
	SentenceCd4: payload01.SentenceCd4,
	PointLapseSchedulePoint: payload01.PointLapseSchedulePoint,
	ReducedDiffTax: payload01.ReducedDiffTax,
	PayMethodKbn: payload01.PayMethodKbn,
	SalesPrice: payload01.SalesPrice as Number,
	SentenceCd1: payload01.SentenceCd1,
	SentenceCd2: payload01.SentenceCd2,
	TelNo: payload01.TelNo,
	SentenceCd3: payload01.SentenceCd3,
	OrderCommodityTax: payload01.OrderCommodityTax as Number,
	LiquidationShopNo2: payload01.LiquidationShopNo2,
	ItemCd: payload01.ItemCd,
	LiquidationShopNo1: payload01.LiquidationShopNo1,
	NextDlvCommoditySalesMethodName1: payload01.NextDlvCommoditySalesMethodName1,
	DlvAppointedTimePerDlvCorpName: payload01.DlvAppointedTimePerDlvCorpName,
	Shipping: payload01.Shipping as Number,
	NextDlvCommoditySalesMethodName5: payload01.NextDlvCommoditySalesMethodName5,
	NextDlvCommoditySalesMethodName4: payload01.NextDlvCommoditySalesMethodName4,
	NextDlvCommoditySalesMethodName3: payload01.NextDlvCommoditySalesMethodName3,
	ClientKanaName: payload01.ClientKanaName,
	NextDlvCommoditySalesMethodName2: payload01.NextDlvCommoditySalesMethodName2,
	SalesCommodityName: payload01.SalesCommodityName,
	SetSalesPrice: payload01.SetSalesPrice,
	StaffSalesFlg: payload01.StaffSalesFlg,
	SetOrderCommodityYen: payload01.SetOrderCommodityYen,
	CampainPoint: payload01.CampainPoint,
	ShipmentKbn: payload01.ShipmentKbn as Number,
	Charge: payload01.Charge default 0 as Number,
	LapseNextMonthPoint: payload01.LapseNextMonthPoint,
	DlvCorpCd: payload01.DlvCorpCd,
	StandardUsePointTax: payload01.StandardUsePointTax,
	RankJudgeTotalSalesYen: payload01.RankJudgeTotalSalesYen,
	ClientKanjiName: payload01.ClientKanjiName,
	DataKbn: payload01.DataKbn as Number,
	ShipmentLineSeq: payload01.ShipmentLineSeq as Number,
	ClientCorpName: payload01.ClientCorpName,
	SentenceKbn2: payload01.SentenceKbn2,
	SentenceKbn3: payload01.SentenceKbn3,
	SentenceKbn1: payload01.SentenceKbn1,
	PointLapseScheduleDate: payload01.PointLapseScheduleDate,
	ReducedTaxRateFlg: payload01.ReducedTaxRateFlg,
	NextDlvDate: payload01.NextDlvDate
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log Processing Result" doc:id="log-result" 
			message="Successfully processed file: #[payload.fileName] with #[sizeOf(payload.data)] records"/>
		
		<file:write doc:name="Write JSON Output" doc:id="write-json" 
			config-ref="File_Config" 
			path="/Users/ykurozumi/test_data/output/#[attributes.fileName replace '.csv' with '.json']">
			<file:content>#[payload]</file:content>
		</file:write>
		
		<logger level="INFO" doc:name="Log Completion" doc:id="log-complete" 
			message="File processing completed: #[attributes.fileName]"/>
	</flow>
</mule>
