cc4dmeapi/src/main/mule/cc4dmeapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	
	<file:config name="File_Config" doc:name="File Config" doc:id="8ccaf83a-3211-4891-bd00-ccbe3935fb16" />
	
	<file:matcher name="csvFileMatcher" doc:name="CSV File Matcher" doc:id="csv-matcher" 
		filenamePattern="IFIDC0006_*.csv" />
	
	<flow name="cc4dmeapiFlow" doc:id="cebf8f3b-2c03-49a3-a3ea-49f9e9a41976" >
		<file:listener doc:name="CSV File Listener" doc:id="2a276403-aef5-4f05-aaa0-1e0fc0402055" 
			config-ref="File_Config" 
			directory="/Users/ykurozumi/test_data/input" 
			moveToDirectory="/Users/ykurozumi/test_data/processed"
			matcher="csvFileMatcher">
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</file:listener>

		<logger level="INFO" doc:name="Log File Processing Start" doc:id="log-start" 
			message="Processing CSV file: #[attributes.fileName]"/>
		
		<ee:transform doc:name="Parse CSV to JSON" doc:id="csv-to-json">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	fileName: attributes.fileName,
	fileSize: attributes.size,
	processedAt: now(),
	data: (payload splitBy "\n") 
		filter ($ != "")
		map ((line, index) -> 
			line splitBy ","
		)
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		
		<logger level="INFO" doc:name="Log Processing Result" doc:id="log-result" 
			message="Successfully processed file: #[payload.fileName] with #[sizeOf(payload.data)] records"/>
		
		<file:write doc:name="Write JSON Output" doc:id="write-json" 
			config-ref="File_Config" 
			path="/Users/ykurozumi/test_data/output/#[attributes.fileName replace '.csv' with '.json']">
			<file:content>#[payload]</file:content>
		</file:write>
		
		<logger level="INFO" doc:name="Log Completion" doc:id="log-complete" 
			message="File processing completed: #[attributes.fileName]"/>
	</flow>
</mule>
